<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AnimalServlet</servlet-name>
    <servlet-class>servlet.AnimalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FarmerServlet</servlet-name>
    <servlet-class>servlet.FarmerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ForageServlet</servlet-name>
    <servlet-class>servlet.ForageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MedicineServlet</servlet-name>
    <servlet-class>servlet.MedicineServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VaccinumServlet</servlet-name>
    <servlet-class>servlet.VaccinumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DisposeServlet</servlet-name>
    <servlet-class>servlet.DisposeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaleServlet</servlet-name>
    <servlet-class>servlet.SaleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>servlet.SignServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>AnimalServlet</servlet-name>
    <url-pattern>/servlet/AnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FarmerServlet</servlet-name>
    <url-pattern>/servlet/FarmerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForageServlet</servlet-name>
    <url-pattern>/servlet/ForageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MedicineServlet</servlet-name>
    <url-pattern>/servlet/MedicineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VaccinumServlet</servlet-name>
    <url-pattern>/servlet/VaccinumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisposeServlet</servlet-name>
    <url-pattern>/servlet/DisposeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleServlet</servlet-name>
    <url-pattern>/servlet/SaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/servlet/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/servlet/SignServlet</url-pattern>
  </servlet-mapping>

</web-app>